.light_saber {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0;
  height: 0;
  width: 10px;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: calc(50% + 22px);
}

.back {
  height: 460px;
  width: 10px;
  position: relative;
  transform: rotate(180deg);
}

@keyframes pulseSaturation {
  0% {
    filter: saturate(1);
  }
  50% {
    filter: saturate(4);
  }
}

.outer_glow {
  height: 0px;
  width: 26px;
  border-radius: 5px;
  filter: blur(10px);
  position: absolute;
  left: -8px;
  top: 85px;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  /* animation: lightUp2 0.6s cubic-bezier(0.86, 0, 0.07, 1); */
  animation: glow_animation 3s ease infinite;
}
.middle_glow {
  height: 0px;
  width: 10px;
  border-radius: 5px;
  position: absolute;
  top: 85px;
  filter: blur(2px);
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  /* animation: lightUp1 0.6s cubic-bezier(0.86, 0, 0.07, 1); */
  /* animation: glow_animation 3s ease infinite, pulseSaturation 3s ease infinite; */
  animation: pulseSaturation 3s ease infinite;
}
.core_glow {
  height: 0px;
  width: 6px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 85px;
  filter: blur(1px);
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  /* animation: lightUp3 0.6s cubic-bezier(0.86, 0, 0.07, 1); */
  animation: pulseSaturation 3s ease infinite;
  left: 2px;
}

.handle {
  height: 30px;
  width: 55px;
  position: absolute;
  top: 0;
  left: -22px;
}
.handle img {
  width: 100%;
  height: auto;
  transform: rotate(180deg);
}

.open .outer_glow {
  height: 370px;
  animation: glow_animation 0.8s infinite;
}
.open .middle_glow {
  height: 350px;
  animation: glow_animation 0.8s infinite;
}
.open .core_glow {
  height: 347px;
}

@keyframes glow_animation {
  0% {
    transform: scaleX(1);
  }
  20% {
    transform: scaleX(1.1);
  }
  30% {
    transform: scaleX(1.2);
  }
  60% {
    transform: scaleX(1.05);
  }
  80% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes pulseSaturation {
  0% {
    filter: saturate(1);
  }
  50% {
    filter: saturate(1.5);
  }
  100% {
    filter: saturate(1);
  }
}
