.top-nav {
  position: sticky;
  display: flex;
  top: -105px;
  max-width: 1000px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: calc(50px + 1em);
  font-family: "GoodTimes Reg", sans-serif;
  transition: 0.2s all ease;
  z-index: 10000;
}

.app-title {
  position: relative;
  display: block;
  /* transform: scale(1.5) translate(3.25%, 0);
  margin-bottom: -220px;
  margin-top: -118px; */
  color: #fbdcb6;
  font-size: 28px;
  text-indent: 0.5em;
  letter-spacing: 0.3em;
  text-shadow: 0 0 10px #ff0000;
  padding-bottom: 1em;
  /* ALTERNATE COLOR SCHEME */
  color: white;
  text-shadow: -1px -1px 1px rgb(0 0 0 / 50%),
    1px 1px 1px rgb(255 255 255 / 73%);
  transition: 0.3s all ease;
}

.curved-text-wrap {
  font-size: 10px;
  letter-spacing: 2em;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  list-style: none;
  padding-bottom: 7%;
}

.inner-element {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.25em;
  text-indent: 0.25em;
  font-size: calc(10px + 0.1vw);
  width: 14vw;
  height: 14vw;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  box-shadow: -1px -3px 1px -2px rgb(255 255 255 / 50%),
    inset 1px 3px 17px -5px rgb(255 255 255 / 50%);
  opacity: 0.7;
  overflow: hidden;
  color: #c7bca7;
  padding: 11%;
}

.inner-element-image {
  padding-bottom: 50%;
  position: absolute;
  display: flex;
  min-width: 90%;
  min-height: 90%;
  border-radius: 50%;
  background-position: center;
}

.inner-element-image:after {
  content: "";
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0px -250px 200px -150px rgb(0 0 0 / 75%);
  transition: 0.2s all ease;
}

.inner-element:nth-child(1) .inner-element-image:after {
  background: rgb(0 220 255 / 75%);
}
.inner-element:nth-child(1):hover .inner-element-image:after {
  background: hsl(188deg 100% 30% / 90%);
  box-shadow: inset 0px -250px 200px -150px rgb(0 0 0 / 0%);
}

.inner-element:nth-child(2) .inner-element-image:after {
  background: rgb(255 0 0 / 75%);
}
.inner-element:nth-child(2):hover .inner-element-image:after {
  background: hsl(0deg 100% 40% / 90%);
  box-shadow: inset 0px -250px 200px -150px rgb(0 0 0 / 10%);
}

.inner-element:nth-child(3) .inner-element-image:after {
  background: rgb(0 220 255 / 75%);
}
.inner-element:nth-child(3):hover .inner-element-image:after {
  background: hsl(188deg 100% 30% / 90%);
  box-shadow: inset 0px -250px 200px -150px rgb(0 0 0 / 0%);
}

.inner-element:nth-child(1) {
  transform: translateY(50%) translatex(10%) scale(0.75);
}

.inner-element:nth-child(3) {
  transform: translateY(50%) translatex(-10%) scale(0.75);
}
.inner-element:nth-child(2) {
  width: 40vw;
  height: 40vw;
  max-width: 300px;
  max-height: 300px;
  font-size: calc(37px + 0.2vw);
  letter-spacing: 0.5em;
  text-indent: 0.5em;
}

.inner-element:nth-child(2) a {
  transform: scale(1.5, 1.5) translateY(-32%);
}
.inner-element a {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 1.5em;
  text-align: center;
  font-size: calc(12px + 0.2vw);
  text-decoration: none;
  font-weight: 700;
  background: transparent;
  top: 50%;
  transform: translatey(-50%);
  color: #c7bca7;
  transition: 0.2s all ease;
}

.inner-element:hover a {
  color: hsl(33deg 100% 85%);
  text-shadow: 0 0 10px #ffffffb5, -1px -1px 1px rgb(0 0 0 / 73%),
    1px 1px 1px rgb(255 255 255 / 73%);
}
/* GAME MODE */
.top-nav-game-mode {
  transform: scale(0.5);
  height: 250px;
}

.small-timer {
  transform: scale(0.2);
  transition: 0.3s all ease;
  background: none;
}

.small-timer * {
  transform: none;
}
.small-timer:hover {
  transform: scale(0.5);
  height: 250px;
  top: 0;
  transition: 0.3s all ease;
}

.small-timer:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 190%;
  background: transparent;
  transform: translateY(-27%) scale(0);
  transform-origin: center;
  background-image: linear-gradient(
    350deg,
    hsla(0, 0%, 0%, 0.62) 0%,
    hsla(0, 0%, 100%, 0) 50%,
    transparent
  );
  background-color: hsl(0deg 0% 100%);
  border: none;
  border-radius: 100px;
  box-shadow: inset -7px -7px 10px -7px rgb(0 0 0 / 50%),
    inset 7px 7px 10px -7px rgb(0 0 0 / 73%);
  transition: 0.5s all ease;
  opacity: 0;
}

.small-timer:hover:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 190%;
  background: white;
  transform: translateY(-27%) scale(1);
  background-image: linear-gradient(
    350deg,
    hsla(0, 0%, 0%, 0.62) 0%,
    hsla(0, 0%, 100%, 0) 50%,
    transparent
  );
  background-color: hsl(0deg 0% 100%);
  border: none;
  border-radius: 100px;
  box-shadow: inset -7px -7px 10px -7px rgb(0 0 0 / 50%),
    inset 7px 7px 10px -7px rgb(0 0 0 / 73%);
  transition: 0.2s all ease;
  opacity: 1;
}

.small-timer .app-title {
  opacity: 0;
  transform: translateY(100%) scale(0);
}

.small-timer:hover .app-title {
  opacity: 1;
  transform: translateY(0) scale(1);
  color: hsl(189deg 60% 34%);
}

.small-timer:hover * {
  opacity: 1;
}

.top-nav-game-mode .inner-element:nth-child(1) {
  transform: translateY(17%) translatex(-14%) scale(1);
}
.top-nav-game-mode .inner-element:nth-child(2) {
  z-index: 3;
  filter: saturate(1.25);
}
.top-nav-game-mode .inner-element:nth-child(3) {
  transform: translateY(17%) translatex(14%) scale(1);
}

.countdownAnimation {
  animation: countdownSaturation 10s ease infinite;
  transition: all 1s ease;
}
@keyframes pulseSaturation {
  0% {
    filter: saturate(1);
  }
  50% {
    filter: saturate(4);
  }
  100% {
    filter: saturate(1);
  }
}

@keyframes countdownSaturation {
  0% {
    filter: saturate(0.1);
  }

  70% {
    filter: saturate(1);
  }
  75% {
    filter: saturate(1.25);
  }
  80% {
    filter: saturate(1);
  }
  85% {
    filter: saturate(1.25);
  }

  87% {
    filter: saturate(1);
  }
  89% {
    filter: saturate(1.25);
  }
  90% {
    filter: saturate(1);
  }
  91% {
    filter: saturate(1.25);
  }
  92% {
    filter: saturate(1);
  }
  93% {
    filter: saturate(1.25);
  }
  94% {
    filter: saturate(1);
  }
  95% {
    filter: saturate(1.25);
  }
  96% {
    filter: saturate(1);
  }
  97% {
    filter: saturate(1.35);
  }
  95% {
    filter: saturate(1.5);
  }
  100% {
    filter: saturate(1.5);
  }
}
