.option {
  padding: 1em;
  margin: 1em;
}

.inactive {
  pointer-events: none;
  opacity: 0.5;
}

.selected {
  opacity: 1;
  border: 1px solid red;
}

.options-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
