.App {
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body,
#primary p,
#secondary p,
#preliminary a,
#secondary a {
  font-family: "Kodchasan", "Open Sans", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
